{% extends "base.html" %}

{% block title %}
    {{ article.ressort.name }}
{% endblock %}

{% block header %}
    <header class="sb-page-header">
        <div class="container">
            <h1>Essenz</h1>

            <p>{{ article.ressort.name }}</p>
        </div>

    </header>
{% endblock %}

{% block jumbotron %}
{#    <div class="jumbotron">#}
{##}
{#    </div>#}
{% endblock %}

{% block content %}
    {#    <div class="container">#}
    {#        <h1> {{ article.title }} </h1>#}
    {##}
    {#        <h3>{{ article.author }} - {{ article.created }}</h3>#}
    {##}
    {#        <p>#}
    {#            {% for word in article.get_body %}#}
    {#                {% if word == "<br>" %}#}
    {#                    </p><p>#}
    {#                {% elif word in article.get_specwords %}#}
    {#                    <b>{{ word }}</b>#}
    {#                {% else %}#}
    {#                    {{ word }}#}
    {#                {% endif %}#}
    {#            {% endfor %}#}
    {#            </p>#}
    {#    </div>#}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> {{ article.title }} </h2>

                <h4>{{ article.author }} - {{ article.created }}</h4>

                <div class="row">
                    <div class="col-md-7">
                        {#                    <h2> {{ article.title }} </h2>#}
                        {##}
                        {#                    <h3>{{ article.author }} - {{ article.created }}</h3>#}

                        <p class="text-justify">
                            {% for word in article.get_body %}
                                {% if word == "<br>" %}
                                    </p><p class="text-justify">
                                {% elif word in article.get_specwords %}
                                    <b>{{ word }}</b>
                                {% else %}
                                    {{ word }}
                                {% endif %}
                            {% endfor %}
                            </p>
                    </div>
                    <div class="col-md-5">
                        <dl class="dl-horizontal">
                            <dt>
                                Description lists
                            </dt>
                            <dd>
                                A description list is perfect for defining terms.
                            </dd>
                            <dt>
                                Euismod
                            </dt>
                            <dd>
                                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                            </dd>
                            <dd>
                                Donec id elit non mi porta gravida at eget metus.
                            </dd>
                            <dt>
                                Malesuada porta
                            </dt>
                            <dd>
                                Etiam porta sem malesuada magna mollis euismod.
                            </dd>
                            <dt>
                                Felis euismod semper eget lacinia
                            </dt>
                            <dd>
                                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                                massa justo sit amet risus.
                            </dd>
                        </dl>
                    </div>
                </div>
                {#                <p class="text-justify">#}
                {#                    {% for word in article.get_body %}#}
                {#                        {% if word == "<br>" %}#}
                {#                            </p><p class="text-justify">#}
                {#                        {% elif word in article.get_specwords %}#}
                {#                            <b>{{ word }}</b>#}
                {#                        {% else %}#}
                {#                            {{ word }}#}
                {#                        {% endif %}#}
                {#                    {% endfor %}#}
                {#                    </p>#}
            </div>
        </div>
    </div>
{% endblock %}