{% extends "base.html" %}

{% block title %}
    {{ article.ressort.name }}
{% endblock %}

{% block header %}
    <header class="sb-page-header">
        <div class="container">
            <h1>Essenz</h1>

            <p>{{ article.ressort.name }}</p>
        </div>

    </header>
{% endblock %}

{% block jumbotron %}
    {#    <div class="jumbotron">#}
    {##}
    {#    </div>#}
{% endblock %}

{% block content %}
    {#    <div class="container">#}
    {#        <h1> {{ article.title }} </h1>#}
    {##}
    {#        <h3>{{ article.author }} - {{ article.created }}</h3>#}
    {##}
    {#        <p>#}
    {#            {% for word in article.get_body %}#}
    {#                {% if word == "<br>" %}#}
    {#                    </p><p>#}
    {#                {% elif word in article.get_specwords %}#}
    {#                    <b>{{ word }}</b>#}
    {#                {% else %}#}
    {#                    {{ word }}#}
    {#                {% endif %}#}
    {#            {% endfor %}#}
    {#            </p>#}
    {#    </div>#}

    <div class="row">
        <div class="col-md-12">
            <h2> {{ article.title }} </h2>

            <h4>{{ article.author }} - {{ article.created }}</h4>

            <div class="row">
                <div class="col-md-7">
                    {#                    <h2> {{ article.title }} </h2>#}
                    {##}
                    {#                    <h3>{{ article.author }} - {{ article.created }}</h3>#}

                    <p class="text-justify">
                        {% for word in article.get_body %}
                            {% if word == "<br>" %}
                                </p><p class="text-justify">
                            {% elif word in article.get_specwords %}
                                {% for desc in article.get_descs %}
                                    {% if desc.name == word %}
                                        <b><a href={% url 'desc_detail' desc.slug %}>{{ desc }}</a></b>
                                    {% endif %}
                                {% endfor %}

                            {% else %}
                                {{ word }}
                            {% endif %}
                        {% endfor %}
                        </p>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Was ist was?</h1>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                {% for desc in article.get_descs %}
                                    <dt>
                                        <a href={% url 'desc_detail' desc.slug %}>{{ desc.name }}</a>
                                    </dt>
                                    <dd>
                                        {{ desc.body }}
                                    </dd>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                </div>
                {#                <p class="text-justify">#}
                {#                    {% for word in article.get_body %}#}
                {#                        {% if word == "<br>" %}#}
                {#                            </p><p class="text-justify">#}
                {#                        {% elif word in article.get_specwords %}#}
                {#                            <b>{{ word }}</b>#}
                {#                        {% else %}#}
                {#                            {{ word }}#}
                {#                        {% endif %}#}
                {#                    {% endfor %}#}
                {#                    </p>#}
            </div>
        </div>
{% endblock %}