{% extends "base.html" %}

{% block header %}
    {% include 'wasistwas_header.html' %}
{% endblock %}

{% block jumbotron %}
    {#    <div class="jumbotron">#}
    {##}
    {#        <h1>TROLOLO</h1>#}
    {#    </div>#}
{% endblock %}

{% load static %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href={% url "lexikon_base" %}>Home</a></li>
        {% for subcat in cat.get_parents reversed %}
            <li>
                <a href={% url 'lexikon' subcat.slug %}>
                    {{ subcat.name }}
                </a>
            </li>
        {% endfor %}
    </ol>

    <div class="row">
        <div class="col-md-7">
            {% for overcat in cat.get_all_children %}
                {% if overcat.parent != None %}
                        <h2><a href={% url 'lexikon' overcat.slug %}>{{ overcat.name }}</a></h2></h2>
                        <div class="list-group">
                            {% if overcat.has_descs == True %}
                                {% for desc in overcat.description_set.all %}
                                    <li class="list-group-item"><a
                                            href={% url 'desc_detail' desc.slug %}>{{ desc.name }}</a></li>
                                {% endfor %}
                            {% else %}
                                <li class="list-group-item">Keine Schlagwörter.</li>
                            {% endif %}
                        </div>
                {% endif %}
            {% endfor %}

            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="/cars?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="/cars?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
{% endblock %}